*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
.DS_Store
docs/Manifest.toml
test/Manifest.toml
docs/build/

# DocumenterVitepress:
docs/src/.vitepress/cache
docs/src/.vitepress/dist
docs/Manifest.toml
docs/.vscode
docs/node_modules
docs/.vitepress/cache
docs/.vitepress/dist
docs/.DS_Store
docs/package-lock.json