name: Benchmarks
on:
  pull_request_target:
    branches: [main]
  workflow_dispatch:
permissions:
    pull-requests: write
jobs:
  bench:
    name: Julia ${{ matrix.julia }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        julia: ['1', '1.9']
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: '1.9'
          bench-on: ${{ github.event.pull_request.head.sha }}